[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
ollama = "*"
langchain-community = "*"
langchainhub = "*"
langchain-ollama = "*"
snowflake-connector-python = "*"
python-dotenv = "*"
atlassian-python-api = "*"
requests = "*"
jira = "*"
google-search-results = "*"
pytesseract = "*"
pillow = "*"
opencv-python = "*"
pymupdf = "*"
faiss-cpu = "*"
sentence-transformers = "*"
pypdf = "*"
easyocr = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.11"
